# 下载接口域名配置
# 测试环境
PUBLIC_API_DOMAIN_CN=https://gamehub-dev.mx520.com
PUBLIC_API_DOMAIN_INTL=https://gamehub-dev-international.mx520.com

# 正式环境
# PUBLIC_API_DOMAIN_CN=https://api-cn-gamehub.xiaoji.com
# PUBLIC_API_DOMAIN_INTL=https://api-international-gamehub.xiaoji.com
